@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  /* This prevents the "shifting" when navigating between short and long pages */
  overflow-x: hidden; 
  background-color: #f8fafc; /* Matches slate-50 */
}